@media screen and (max-width: 736px) {

    body, input, select, textarea {
        font-size: 11pt;
        letter-spacing: 0.0375em;
    }

    #main header {
        display : none;
    }
    .collapse {
        display : none;
    }

    .container-fluid a {
        margin-top: -50px;
        display : none;
    }

    .navbar-toggler {
        display : none;
    }

    .container-fluid button span {
        margin-top: -50px;
        display : none;
    }

    #invisible {
        display : none;
    }

    /* 지도 */
    .mainsource {
        margin-top: -40px;
    }

    .getMyPos img {
        bottom: 20px;
        left: 10px;
        width: 3em;
        height: 3.2em;
    }

    .getMyPos img.up{
        margin-bottom: 120px;
    }

    .reload img {
        bottom: 20px;
        right: 30px;
        width: 60px;
        height: 60px;
    }

    .reload img.up{
        margin-bottom: 120px;
    }

    .booth {
        left: 48%;
        height: 125px;
        margin-bottom: 7px;
    }

    .booth .boothDesc {
        font-size: 10px;
        margin: 10px 0px 10px 20px;
        /*margin-left: 20px;*/
        bottom: 10px;
    }

    #boothName {
        font-size: 18px;
        margin-bottom: 0px;
    }

    #boothCount{
        margin-left: -20px;
    }

    .booth_info {
        font-size: 10px;
    }

    /*.icons {*/
    /*	margin-bottom: 10px;*/
    /*}*/

    .icons img {
        width: 45px;
        height: 35px;
    }

    .footer {
        display: block;
        text-shadow: none;
        z-index: 999999;
    }

    #my_modal {
        display : none;
        z-index : 100;
        left : 0;
        top : 0;
        width: 130%;
        height: 100%;
        overflow: auto;

        /*레이어 색갈은 여기서 바꾸면 됨*/
        background-color: rgba(0,0,0,0.4);
    }

    #my_modal .my_modal_wbg {
        margin: 150px 80px 150px 80px;
        background-color: white;

        width: 64%;
    }

    .search_booth {
        position: absolute;
        top: 200px;
        left: 20%;

        font-size: 70px;
    }

    .modal_header img {
        position: absolute;
        top: 225px;
        left: 10%;

        width: 50px;
        height: 50px;
    }

    .modal_header input {
        display: inline-block;

        margin-top: 200px;
        margin-left: 40px;

        width: 600px;
        height: 70px;
        border: solid 1px gray;

        font-size: 40px;
    }

    .modal_header button {
        display: inline-block;

        margin-left: 10px;

        width: 100px;
        height: 70px;

        font-size: 40px;
    }

    .modal_close_btn {
        font-size: 70px;
    }

    .search_result {
        text-align: center;
    }

    .search_result ul {
        list-style: none;
        width: 92%;
    }

    .search_result li {
        margin: 10px 0px 10px 0px;
        height: 100px;
        padding-top: 30px;
    }

    .search_result {
        text-align: center;
        font-size: 40px;
        margin: auto 0;
    }

    .booth_info {
        font-size: 10px;
        background: black;
        color: white;
        text-align: center;
        position: relative;
        margin-left: 23px;
        margin-bottom: -10px;
        /*vertical-align: middle;*/
        padding: 6px 13px 6px 13px;
    }

    .booth_info.focus {
        border: solid 8px yellow;
        margin-top: -8px;
        margin-left: 15px;
        z-index:999;
    }
}