.GNB {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 15px 20px 15px;
    text-align: center;
    font-size: 20px;
}

.GNB .logo {
    margin-left: 140px;
}

.GNB .searchAndMyPage {
    display: flex;
    flex-direction: row;
}

.GNB .searchAndMyPage #search {
    margin-right: 50px;
}
.GNB .searchAndMyPage .search>div {
    margin-right: 50px;
}

.GNB .searchAndMyPage #myPage {
    margin-right: 10px;
}

.GNB .searchAndMyPage .myPage>div {
    margin-right: 10px;
}

.GNB .search {
    display: flex;
    flex-direction: column;
}

.GNB .myPage {
    display: flex;
    flex-direction: column;
}

