@import "header.css";

a {
    text-decoration: none;
    color:white;
}

ul {
    list-style: none;
}

#map {
    width:100%;
    height: 83vh;
}

.booth_info {
    font-size: 30px;
    width: 200px;
    height: 50px;
    background: black;
    color: white;
    text-align: center;
    position: relative;
    /*margin-bottom: 270px;*/
    vertical-align: middle;
    padding: 10px;
}

.booth_info.focus {
    border: solid 10px yellow;
}



.getMyPos img {
    position: absolute;
    bottom: 180px;
    left: 40px;
    width: 150px;
    height: 150px;
    z-index: 10;
    cursor: pointer;
}

.getMyPos img.up{
    margin-bottom: 320px;
}

.reload img{
    position: absolute;
    bottom: 180px;
    right: 40px;
    width: 150px;
    height: 150px;
    z-index: 10;
    cursor: pointer;
}

.reload img.up{
    margin-bottom: 320px;
}

.booth.invisible {
    display: none;
}

.booth {
    position: absolute;
    width: 90%;
    height: 300px;
    left: 50%;
    bottom: 170px;
    transform: translate(-50%);
    z-index: 10;
    background: white;
    color: black;
    border: solid 5px green;
    border-radius: 20px;
}

.booth_info {
    font-size: 30px;
    width: 200px;
    height: 50px;
    background: black;
    color: white;
    text-align: center;
    position: relative;
    /*padding-bottom: 270px;*/
    vertical-align: middle;
    padding: 10px;
}

.booth_info.focus {
    border: solid 10px yellow;
}

#my_modal {
    display : none;
    z-index : 100;
    left : 0;
    top : 0;
    width: 130%;
    height: 100%;
    overflow: auto;

    /*레이어 색갈은 여기서 바꾸면 됨*/
    background-color: rgba(0,0,0,0.4);
}


#my_modal .my_modal_wbg {
    margin: 150px 80px 150px 80px;
    background-color: white;

    width: 64%;
}

.search_booth {
    position: absolute;
    top: 200px;
    left: 20%;

    font-size: 70px;
}
.modal_header img {
    position: absolute;
    top: 225px;
    left: 10%;

    width: 50px;
    height: 50px;
}

.modal_header input {
    display: inline-block;

    margin-top: 200px;
    margin-left: 40px;

    width: 600px;
    height: 70px;
    border: solid 1px gray;

    font-size: 40px;
}

.modal_header button {
    display: inline-block;

    margin-left: 10px;

    width: 100px;
    height: 70px;

    font-size: 40px;
}

.modal_close_btn {
    font-size: 70px;
}

.search_result {
    text-align: center;
}

.search_result ul {
    list-style: none;
    width: 92%;
}

.search_result li {
    margin: 20px 0px 20px 0px;
    height: 100px;
    padding-top: 30px;
}

.search_result {
    text-align: center;
    font-size: 40px;
    margin: auto 0;
}

.blank {
    display: inline-block;
    vertical-align: middle;
}

#my_modal {
    display : none;
    z-index : 100;
    left : 0;
    top : 0;
    width: 130%;
    height: 100%;
    overflow: auto;

    /*레이어 색갈은 여기서 바꾸면 됨*/
    background-color: rgba(0,0,0,0.4);
}


#my_modal .my_modal_wbg {
    margin: 150px 80px 150px 80px;
    background-color: white;

    width: 64%;
}

.search_booth {
    position: absolute;
    top: 200px;
    left: 20%;

    font-size: 70px;
}
.modal_header img {
    position: absolute;
    top: 225px;
    left: 10%;

    width: 50px;
    height: 50px;
}

.modal_header input {
    display: inline-block;

    margin-top: 200px;
    margin-left: 40px;

    width: 600px;
    height: 70px;
    border: solid 1px gray;

    font-size: 40px;
}

.modal_header button {
    display: inline-block;

    margin-left: 10px;

    width: 100px;
    height: 70px;

    font-size: 40px;
}

.modal_close_btn {
    font-size: 70px;
}

.search_result {
    text-align: center;
}

.search_result ul {
    list-style: none;
    width: 92%;
}

.search_result li {
    margin: 20px 0px 20px 0px;
    height: 100px;
    padding-top: 30px;
}

.search_result {
    text-align: center;
    font-size: 40px;
    margin: auto 0;
}

.blank {
    display: inline-block;
    vertical-align: middle;
}

.getMyPos img {
    position: absolute;
    bottom: 180px;
    left: 40px;
    width: 150px;
    height: 150px;
    z-index: 10;
    cursor: pointer;
}

.getMyPos img.up{
    margin-bottom: 320px;
}

.booth .boothDesc {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin: 35px auto 20px auto;
    padding-bottom: 35px;
    border-bottom: solid 1px gray;
    width: 80%;
}

#boothName {
    font-size: 40px;
    margin-left: -40px;
    margin-bottom: 10px;
}

#boothCount {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -80px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.icons img {
    width: 90px;
    height: 80px;
    margin-left: 70px;
    margin-right: 70px;
}

.footer {
    text-align: center;
}

.footer button {
    width: 90%;
    height: 100px;
    margin-top: 20px;
    font-size: 40px;
    border-radius: 20px;
    background-color: black;
    color: white;
}
