.footer {
    text-align: center;
}

.footer button {
    width: 90%;
    height: 100px;
    margin-top: 20px;
    font-size: 40px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

#my_modal {
    display : none;
    z-index : 100;
    left : 0;
    top : 0;
    width: 130%;
    height: 100%;
    overflow: auto;

    /*레이어 색갈은 여기서 바꾸면 됨*/
    background-color: rgba(0,0,0,0.4);
}


#my_modal .my_modal_wbg {
    margin: 150px 80px 150px 80px;
    background-color: white;

    width: 64%;
}

.search_booth {
    position: absolute;
    top: 200px;
    left: 20%;

    font-size: 70px;
}
.modal_header img {
    position: absolute;
    top: 225px;
    left: 10%;

    width: 50px;
    height: 50px;
}

.modal_header input {
    display: inline-block;

    margin-top: 200px;
    margin-left: 40px;

    width: 600px;
    height: 70px;
    border: solid 1px gray;

    font-size: 40px;
}

.modal_header button {
    display: inline-block;

    margin-left: 10px;

    width: 100px;
    height: 70px;

    font-size: 40px;
}

.modal_close_btn {
    font-size: 70px;
}

.search_result {
    text-align: center;
}

.search_result ul {
    list-style: none;
    width: 92%;
}

.search_result li {
    margin: 20px 0px 20px 0px;
    height: 100px;
    padding-top: 30px;
}

.search_result {
    text-align: center;
    font-size: 40px;
    margin: auto 0;
}

.blank {
    display: inline-block;
    vertical-align: middle;
}

.getMyPos img {
    position: absolute;
    bottom: 180px;
    left: 40px;
    width: 150px;
    height: 150px;
    z-index: 10;
    cursor: pointer;
}

.getMyPos img.up{
    margin-bottom: 320px;
}