@import "header.css";

.nearBooth {
    text-align: center;
    margin-top: 70px;
}

ul {
    list-style: none;
    width: 92%;
}

.nearBooth li {
    background-color: #4fa464;
    margin: 20px 0px 20px 0px;
    height: 100px;
    padding-top: 30px;
}

.nearBooth li#head {
    background-color: white;
    border: solid 5px #4fa464;
}

.nearBoothList {
    text-align: center;
    font-size: 40px;
    margin: auto 0;
}

.footer {
    text-align: center;
}

.footer button {
    width: 90%;
    height: 100px;
    position: absolute;
    bottom: 30px;
    margin-left: -440px;
    margin-top: 20px;
    font-size: 40px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

